<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCi1TV0zcdHff8PC-VjqGtj9Au4NH4oVhE</string>
	<key>GCM_SENDER_ID</key>
	<string>638363701775</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.perfectionmetalsquickmeasure</string>
	<key>PROJECT_ID</key>
	<string>perfectionmetalsquickmeasure</string>
	<key>STORAGE_BUCKET</key>
	<string>perfectionmetalsquickmeasure.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:638363701775:ios:92520f561985ae01bc097a</string>
</dict>
</plist>